.element__like {
  display: flex;
  width: 22px;
  height: 19px;
  margin: 0;
  box-sizing: border-box;
  max-width: 22px;
  transition: opacity 0.3s;
  cursor: pointer;
  background-image: url(../../../images/elements/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.element__like:hover {
  opacity: 0.5;
}