.profile__info {
  display: flex;
  max-width: 500px;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 785px) {
  .profile__info {
    justify-items: center;
    max-width: 300px;
  }
}