.profile {
  display: grid;
  max-width: 880px;
  max-height: 120px;
  margin: 0 auto;
  padding: 40px 200px 0;
  align-items: center;
  grid-template-columns: 120px 282px 1fr;
  grid-template-rows: auto;
  gap: 30px;
}

@media (max-width: 1024px) {
  .profile {
    padding: 32px 54px 0;
  }
}

@media (max-width: 850px) {
  .profile {
    padding: 32px 27px 0;
  }
}

@media (max-width: 725px) {
  .profile {
    align-items: start;
    justify-items: center;
    padding: 32px 27px 0;
    max-width: 282px;
    max-height: 286px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 282px 1fr;
    row-gap: 26px;
  }
}