.profile {
  display: grid;
  max-width: 880px;
  max-height: 120px;
  margin: 0 auto;
  padding: 40px 200px 0;
  align-items: center;
  grid-template-columns: 120px 336px 394px;
  grid-template-rows: auto;
  gap: 0;
}