.element__title {
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  max-width: 220px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}