.header {
  display: flex;
  align-items: flex-start;
  max-width: 880px;
  padding: 45px 0 41px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1035px) {
  .header {
    padding: 45px 0 41px 54px;
  }
}

@media (max-width: 850px) {
  .header {
    padding: 28px 0 31.6px 46px;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 28px 0 31.6px 27px;
  }
}