.footer__copyright {
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  max-width: 318px;
  color: #545454;
  flex-wrap: nowrap;
  }

  @media (max-width: 600px) {
    .profile {
      line-height: 17px;
      max-width: 282px;
      font-size: 14px;
    }
  }