.profile__name {
  line-height: 1.14;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  max-width: 350px;
  color: #FFFFFF;
}

@media (max-width: 785px) {
  .profile__name {
  line-height: 33px;
  font-size: 27px;
  text-align: center;
  max-width: 220px;
  margin: 0 0 0 auto;
  }
}