.profile__description {
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0 0;
  max-width: 336px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 785px) {
  .profile__description {
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  margin: 14px auto 0 auto;
  max-width: 300px;
  }
}