.profile__info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 336px;
  max-height: 73px;
  margin: 0;
}

@media (max-width: 725px) {
  .profile__info {
    justify-items: center;
    width: 282px;
    height: 54px;
  }
}