.popup__title {
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 41px;
  max-width: 330px;
  color: #000000;
}

@media (max-width: 600px) {
  .popup__title {
  max-width: 238px;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 62px;
  }
}